/* =========================================
   Modern CSS Reset
========================================= */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    hanging-punctuation: first last;
    height: 100%;
}

body {
    height: 100dvh;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

img,
picture,
svg,
video,
canvas {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

textarea {
    resize: vertical;
}

:target {
    scroll-margin-block: 5rem;
}