@use '../abstracts' as *;

.badge {
    border-radius: 1rem;
    padding: .2rem .5rem;
    font-size: .75rem;
    color: var(--text-color) !important;

    &--neutral { 
        background-color: #d6d6d6;
    }
    &--info    { 
        background-color: #e2f9ff;
        border: 1px solid #9aebff;
    }
    &--warning { 
        background-color: #fffbe9;
        border: 1px solid #ffee57;
    }
    &--danger  { 
        background-color: #ffd4d4;
        border: 1px solid #ff8f8f;
    }
    &--success { 
        background-color: #eaffe9;
        border: 1px solid #86ff56;
    }


}