@use '../abstracts' as *;

.card {
    &.card-item {
        position: relative;
        width: 100%;
        display: flex;
        padding: .5rem 2rem .5rem .5rem ;
        border: 1px solid #F0F0F0;
        border-radius: 1rem;
        -webkit-transition: .4s ease-in-out all;
        -o-transition: .4s ease-in-out all;
        transition: .4s ease-in-out all;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='36' viewBox='0 0 9 36'%3E%3Ccircle cx='4.5' cy='5' r='4.5' fill='%23D9D9D9'/%3E%3Ccircle cx='4.5' cy='18' r='4.5' fill='%23D9D9D9'/%3E%3Ccircle cx='4.5' cy='31' r='4.5' fill='%23D9D9D9'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 97% center;

        .card__switch {
            margin-right: .5rem;
        }

        .card__trigger {
            background-color: transparent;
            border: none;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: .75rem;

            .card__image {
                .image {
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    border-radius: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .card__info {
                text-align: left;

                .title {
                    font-size: 1rem;
                    color: var(--color-text);
                    font-weight: normal;
                }

                &.card__info--price {
                    .current-price {
                        color: var(--color-primary);
                    }

                    .old-price {
                        color: var(--color-gray-dark);
                        text-decoration: line-through;
                    }
                }
            }
        }

        .card__options {
            position: absolute;
            z-index: 1;
            display: flex;
            justify-content: end;
            align-items: center;
            width: 0;
            top: 50%;
            transform: translateY(-50%);
            right: .5rem;
            overflow: hidden;
            background-color: #fff;
            height: 90%;

            -webkit-transition: .3s ease-in-out all;
            -o-transition: .3s ease-in-out all;
            transition: .3s ease-in-out all;
        }
        
        &.active {
            --shadow-color : rgba(0, 158, 227,.3);

            border-color: var(--color-primary);
            -webkit-box-shadow: 0px 0px 18px 0px var(--shadow-color);
            -moz-box-shadow: 0px 0px 18px 0px var(--shadow-color);
            box-shadow: 0px 0px 18px 0px var(--shadow-color);

            .card__options{
                width: 100px;
            }
        }

        &.disabled {
            .card__trigger {
                opacity: .5;
            }
        }

        &.card-item--dish {
            .card__trigger {
                .card__image {
                    position: relative;

                    .card__image-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 25px;
                        height: 25px;
                        border-radius: 100%;
                        background-color: var(--color-secondary);
                        position: absolute;
                        top: -2px;
                        right: -5px;
                    }
                }

                .card__info {
                    .title, .description {
                        width: 100%;
                        max-width: 150px;
                    }
    
                    .title {
                        font-size: 1rem;
                        color: var(--color-text);
                    }
    
                    .description {
                        font-size: .875rem;
                        color: var(--color-gray-dark);
                    }
                }
            }
        }

        &.card-item--order {
            padding: .5rem ;
            background-image: none;
            margin-bottom: 1rem;

            .card__trigger {
                flex-direction: column;
                align-items: flex-start;
                gap: .5rem;

                .card__data {
                    width: 100%;

                    &--header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 1px solid #e5e7eb;
                        padding: .5rem 0;

                        h3 {
                            font-size: 1rem;
                        }
                    }

                    &--waiter {
                        border-bottom: 1px solid #e5e7eb;
                        padding: .5rem 0;
                    }

                    &--content {
                        display: flex;
                        justify-content: space-between;
                        border-bottom: 1px solid #e5e7eb;
                        padding: .5rem 0;

                        .card__info {
                            display: flex;
                            flex-direction: column;

                            span {
                                font-size: .875rem;
                                color: var(--color-primary);
                                display: block;
                            }

                            p {
                                font-size: .9rem;
                            }
                        }
                    }

                    &--footer {
                        display: flex;
                        justify-content: space-between;

                        .card__info {
                            font-size: .875rem;
                            &--hour {
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                gap: .5rem;
                            }

                            &--actions {
                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                
                                .ellipsis {
                                    width: 50px;
                                    height: 10px;
                                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='9' viewBox='0 0 36 9'%3E%3Ccircle cx='5' cy='4.5' r='4.5' fill='%23D9D9D9'/%3E%3Ccircle cx='18' cy='4.5' r='4.5' fill='%23D9D9D9'/%3E%3Ccircle cx='31' cy='4.5' r='4.5' fill='%23D9D9D9'/%3E%3C/svg%3E");
                                    background-position: center bottom;
                                    background-repeat: no-repeat;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

@include mq(md) {
    .card {
        &.card-item {
            display: grid;
            align-items: center;
            background-image: none;
            padding: .5rem .5rem .5rem 0;
            border-radius: 0;
            border: none;
            border-bottom: 1px solid #F0F0F0;

            .card__switch {
                margin-right: 0;
                display: flex;
                justify-content: center;

                .switch.switch--vertical {
                    width: 37px;
                    height: 40px;

                    input:checked+.slider::before {
                        transform: translateY(-20px);
                    }

                    .slider {
                        left: 50%;
                        transform: translateX(-50%);
                        
                        &::before {
                            width: 12px;
                            height: 12px;
                        }
                    }
                }
            }

            .card__trigger {
                display: contents;

                .card__image {
                    width: 40px;
                    height: 40px;
                }
            }

            .card__options {
                position: static;
                width: auto;
                transform: none;
                overflow: visible;
                justify-content: flex-start;
                z-index: 0;
            }

            &.card-item--dish {
                grid-template-columns: 50px 80px 1fr 150px 70px;
                gap: 1rem;

                .card__trigger {
                    display: contents;
                    
                    .card__image {
                        grid-column: 2;
                    }
        
                    .card__info {
                        grid-column: 3;
                    }
        
                    .card__info--price {
                        grid-column: 4;
                    }
                }

                .card__options {
                    .btn-action {
                        &.btn-action--close {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}