@use '../abstracts' as *;

.dropdown {
    position: relative;

    .dropdown__menu {
        position: absolute;
        right: 0;
    }

    &.dropdown--main-menu {

        & > button {
            width: 50px;
            height: 50px;

            &[aria-expanded="true"] {
                background-color: var(--color-primary-dark);
            }
        }
        
        .dropdown__menu {
            background-color: var(--color-primary);
            border-radius: 1rem;
            width: 200px;
        }
    }

    &.dropdown--user-info {
        & > button {
            width: 50px;
            height: 50px;
            padding: 0;
            overflow: hidden;
            background-color: transparent;
            border: 2px solid #dadada;

            &::after {
                content: "";
                width: 8px;
                height: 8px;
                border-right: 2px solid #000;
                border-bottom: 2px solid #000;
                transform-origin: center;
                transform: translateY(-50%) rotate(45deg);
                transition: transform .2s ease;
                position: absolute;
                left: calc(100% + 8px);
            }

            &:hover {
                border-color: #979797;
            }

            &[aria-expanded="true"] {
                border-color: var(--color-primary);

                &:after {
                    transform: translateY(-50%) rotate(225deg);
                }
            }
        }

        .dropdown__menu {
            //background-color: var(--color-primary);
            background: #009ee3;
            background: linear-gradient(37deg, rgb(0, 158, 227) 0%, rgb(0, 87, 125) 100%);
            border-radius: 1rem;
            width: 250px;

            .user-info {
                border-bottom: 1px solid #c3c3c3;

                .user-info__item {
                    padding: .75rem;
                    color: #fff;
                    border-bottom: 1px solid #c3c3c3;

                    span {
                        display: block;
                        font-size: .75rem;
                        font-weight: bold;
                    }

                    &:first-child {
                        border-bottom: 1px solid #c3c3c3;
                    }
                }

                .user-info__footer {
                    padding: .75rem;
                    display: flex;
                    justify-content: flex-end;

                    a {
                        display: block;
                        color: #fff;
                        text-decoration: underline;
                        font-size: .875rem;
                    }
                }
            }

            nav {
                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        a {
                            color: #fff;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

/* Transition */

.dropdown-enter-active,
.dropdown-leave-active {
    transition:
        opacity 0.2s ease,
        transform 0.2s ease;
    transform-origin: top right;
}

.dropdown-enter-from,
.dropdown-leave-to {
    opacity: 0;
    transform: scale(0.95);
}

.dropdown-enter-to,
.dropdown-leave-from {
    opacity: 1;
    transform: scale(1);
}