@use '../abstracts' as *;

.summary {
    margin: .5rem 0;

    &--orders {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    
        .summary__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: .875rem;
            border: 2px solid #dadada;
            padding: .3rem .5rem;
            border-radius: .5rem;
            width: 100%;
            max-width: 80px;

            background: #EEF7FF;
            border-color: #D6EAFD;

            .summary__icon {
                color: #4c85b6;
            }

            .summary__label {
                font-size: .73rem;
                color: #4c85b6;
            }

            .summary__value {
                font-size: .8rem;
            }

            /*
            &:first-child {
                background: #EEF7FF;
                border-color: #D6EAFD;

                .summary__icon,
                .summary__label {
                    color: #4c85b6;
                }
            }

            &:nth-child(2) {
                background: #FFF8E8;
                border-color: #FFE8B3;

                .summary__icon,
                .summary__label {
                    color: #ac9827;
                }
            }

            &:nth-child(3) {
                background: #EEFCEF;
                border-color: #CDEFD0;

                .summary__icon,
                .summary__label {
                    color: #1a661a;
                }
            }

            &:last-child {
                background: #F3EEFF;
                border-color: #DDD0FF;

                .summary__icon,
                .summary__label {
                    color: #864cb6;
                }
            }
            */
        }
    }
}