@use '../abstracts' as *;

.badge {
    padding: .3rem 1rem;
    background-color: #ebebeb;
    border-radius: 2rem;
    margin-bottom: .5rem;
    font-size: .875rem;
    border: 1px solid transparent;

    &--primary {
        background-color: #dff6ff;
        border-color: #95cfe6;
        color: #5cabca;
    }

    &--warning {
        background-color: #fffbe9;
        border-color: #eedd91;
        color: #c9b148;
    }

    &--danger {
        background-color: #ffe9e9;
        border-color: #f0baba;
        color: #bb4848;
    }

    &--success {
        background-color: #eaffe9;
        border-color: #96cf93;
        color: #529c4e;
    }
}