@use '../abstracts' as *;

.summary {
    width: 100%;
    margin: .5rem 0;

    &--edit-dish {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    &--orders {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    
        .summary__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: .875rem;
            border: 2px solid #dadada;
            padding: .3rem .5rem;
            border-radius: .5rem;
            width: 100%;
            max-width: 80px;

            background: #EEF7FF;
            border-color: #D6EAFD;

            .summary__icon {
                color: #4c85b6;
            }

            .summary__label {
                font-size: .73rem;
                color: #4c85b6;
            }

            .summary__value {
                font-size: .8rem;
            }

            /*
            &:first-child {
                background: #EEF7FF;
                border-color: #D6EAFD;

                .summary__icon,
                .summary__label {
                    color: #4c85b6;
                }
            }

            &:nth-child(2) {
                background: #FFF8E8;
                border-color: #FFE8B3;

                .summary__icon,
                .summary__label {
                    color: #ac9827;
                }
            }

            &:nth-child(3) {
                background: #EEFCEF;
                border-color: #CDEFD0;

                .summary__icon,
                .summary__label {
                    color: #1a661a;
                }
            }

            &:last-child {
                background: #F3EEFF;
                border-color: #DDD0FF;

                .summary__icon,
                .summary__label {
                    color: #864cb6;
                }
            }
            */
        }
    }

    &--order-totals {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    
        .summary__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: .875rem;
            border: 2px solid #dadada;
            padding: .3rem .5rem;
            border-radius: .5rem;
            width: 100%;

            background-color: #EEF7FF;
            border-color: #D6EAFD;

            .summary__icon {
                color: #4c85b6;
            }

            .summary__label {
                font-size: .73rem;
                color: #4c85b6;
            }

            .summary__value {
                font-size: .8rem;
            }
        }
    }

    &--resume {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: .5rem;

        .summary__row {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .3rem;

            .summary__column {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: .875rem;
                border: 1px solid #D6EAFD;
                padding: .3rem .5rem;
                border-radius: .5rem;
                width: 100%;
                height: 100%;
                
                &--label {
                    font-size: .73rem;
                    color: #4c85b6;
                    background-color: #EEF7FF;
                    max-width: 85px;
                }

                &--content {
                    font-size: .8rem;
                }
            }
        }
    }
}


@include mq(md) {
    .summary {
        &--resume {
            flex-direction:row;

            .summary__row {
                .summary__column {
                    &--label,
                    &--content {
                        max-width: 200px;
                    }
                }
            }
        }
    }
}