@use './abstracts' as *;
@use 'components';
@use 'layouts';

:root {--font-size: 1;}

html,body{
    margin: 0;
    padding: 0;
    font-size: calc(var(--font-size) * 1rem);
}

body{
    #app{
        width: 100%;
        min-height: 100vh;
        overflow: hidden;
    }
}

a,button,.btn{
    -webkit-transition: .2s ease-in-out all;
    -o-transition: .2s ease-in-out all;
    transition: .2s ease-in-out all;
}
