@use "sass:map"; // Importa el módulo `sass:map` para trabajar con mapas.

$breakpoints: (
    XS: 414px,
    SM: 576px,
    MD: 768px,
    LG: 992px,
    XL: 1200px,
    XXL: 1408px,
);

@mixin MQ($breakpoint) {
    @if map.has-key($breakpoints, $breakpoint) {
        @media screen and (min-width: map.get($breakpoints, $breakpoint)) {
            @content;
        }
    } @else {
        @media screen and (min-width: $breakpoint) {
            @content;
        }
    }
}