@use '../abstracts' as *;

.accordion{
    .accordion-item--plan{
        margin-bottom: 1rem;
        border: 1px solid #D9D9D9;
        border-radius: 1rem;
        overflow: hidden;

        .accordion-header{
            .accordion-button{
                .accordion-item__icon{
                    border-radius: 10rem;
                    padding: .5rem;
                    margin-right: 1rem;
                    position: relative;
                    overflow: hidden;
                    background-image: url('../img/plan-logo.svg');
                    background-repeat: no-repeat;
                    background-position: center center;
                    width: 61px;
                    height: 64px;
        
                     &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: -75%;
                        width: 50%;
                        height: 100%;
                        background: linear-gradient(
                            120deg,
                            rgba(255, 255, 255, 0) 0%,
                            rgba(255, 255, 255, 0.5) 50%,
                            rgba(255, 255, 255, 0) 100%
                        );
                        transform: skewX(-20deg);
                        animation: shine 2s infinite;
                     }
                }
            }
        }

        .accordion-collapse{
            .accordion-body{
                text-align: left;

                .plan-billing{
                    margin-bottom: 1rem;
                }

                .terms{
                    margin-bottom: 1rem;
                    input{
                        margin-right: .5rem;
                    }

                    button{
                        background-color: transparent;
                        border: none;
                        color: $primary-500;
                        text-decoration: underline;
                        padding: 0;
                    }
                }
            }
        }

        &:first-child{
            .accordion-header{
                .accordion-button{
                    .accordion-item__icon{
                        background-color: $primary-500;
                    }
                }
            }
        }

        &:nth-child(2){
            .accordion-header{
                .accordion-button{
                    .accordion-item__icon{
                        background-color: #CB7E32;
                    }
                }
            }
        }

        &:nth-child(3){
            .accordion-header{
                .accordion-button{
                    .accordion-item__icon{
                        background-color: #ffd700;
                    }
                }
            }
        }

        &:nth-child(4){
            .accordion-header{
                .accordion-button{
                    .accordion-item__icon{
                        background-color: #D4D4D4;
                    }
                }
            }
        }

        &.selected{
            .accordion-header{
                .accordion-button{
                    .accordion-item__icon{
                        background-image: url('../img/check-icon.svg');
                    }
                }
            }
        }
    }
}

/* Animación de brillo */
@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}