@use '../abstracts' as *;

.alert{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: .5rem 3rem .5rem 1rem;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: .5rem;

    .alert-icon {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
    }

    &.alert-dismissible{
        .btn-close{
            padding: .8rem 1rem;
        }
    }

    &.alert--primary {
        background-color: rgba(0, 158, 227, 0.1);
        color: #009EE3;
        border-color: #009EE3;
    }
}