@use '../abstracts' as *;

.btn{
    svg{ margin-right: .5rem;}

    &.btn-primary{
        background-color: $primary-500;
        border-color: $primary-500;
    
        &:hover, &:active{
            background-color: $primary-700 !important;
            border-color: $primary-700 !important;
        }
    }
    
    &.btn-outline-primary{
        color: $primary-500;
        border-color: $primary-500;
    
        &:hover, &:active{
            background-color: $primary-500;
            border-color: $primary-500;
            color: #fff;
        }
    }

    &.btn-option{
        padding: 0;
        margin-right: .5rem;
    }

    &.btn-header{
        background-color: $primary-500;
        border-radius: 5rem;
        justify-content: center;
        align-items: center;
        padding: .7rem .785rem;
        width: 50px;
        height: 50px;

        &.btn--menu{
            background-image: url('../img/menu-icon.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 22px;

            &.show{
                background-color: $primary-700;
                border-color: $primary-700;
                background-image: url('../img/close-icon.svg');
            }
        }

        img{
            width: 22px;
        }
    }

    .btn-check:checked+&, 
    &.active, 
    &.show, 
    &:first-child:active, 
    :not(.btn-check)+&:active{
        color: #fff;
        background-color: $primary-500;
        border-color: $primary-500;
    }

    &.btn-add-dishes{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #ADB0B6;
        border-radius: 2rem;
        color: $primary-500;

        span{
            display: block;

            &.icon{
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #ADB0B6;
                border-radius: 3rem;
                width: 30px;
                height: 30px;
                font-size: 2rem;
            }
        }

        &:hover{
            border-color: $primary-500;
            background-color: $primary-500;
            color: #fff;

            span.icon{
                border-color: #fff;
                background-color: #fff;
            }
        }
    }

    &:focus-visible{
        background: unset;
        outline: 2px solid $warning-500;
        outline-offset: 5px;
    }
}