@use '../abstracts' as *;

.element-list{
    height: 85%;
    overflow: auto;
    
    .element-item{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 2rem .5rem .5rem ;
        border: 1px solid #F0F0F0;
        border-radius: 1rem;
        margin-bottom: 1rem;
        background-color: #fff;
        -webkit-transition: .4s ease-in-out all;
        -o-transition: .4s ease-in-out all;
        transition: .4s ease-in-out all;
        background-image:url('../img/ellipsis-vertical-icon.svg');
        background-repeat: no-repeat;
        background-position: 97% center;
    
        .element-item__image{
            $circle: 55px;
            display: block;
            width: 100%;
            max-width: $circle;
            height: $circle;
            border-radius: 500px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            margin-right: .5rem;
        }
    
        .element-item__text{
            width: 100%;
            text-align: left;
            white-space: nowrap;
            color: #ADB0B6;
            display: -webkit-box; /* Crea un contenedor flexible con varias líneas */
            -webkit-line-clamp: 3; /* Limita el número de líneas a 2 */
            -webkit-box-orient: vertical; /* Orienta el contenido en columnas */
            overflow: hidden; /* Oculta el texto que se desborda */
            text-overflow: ellipsis; /* Muestra los puntos suspensivos */
            line-height: 1.5; /* Ajusta el interlineado si es necesario */
    
            h3,p{margin-bottom: 0;}
    
            h3{font-size: 1.1rem;}
    
            p{font-size: .875rem;}
        }

        .element-item__icon{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 .5rem;
        }
    
        .element-item__price{
            text-align: left;

            .current-price{
                font-weight: bold;
            }
            .prev-price{
                text-decoration: line-through;
            }
        }
    
        .element-item__options-menu{
            position: absolute;
            z-index: 1;
            display: flex;
            justify-content: end;
            width: 0;
            right: .5rem;
            overflow: hidden;
            background-color: #fff;
            padding: 1.4rem 0;

            -webkit-transition: .3s ease-in-out all;
            -o-transition: .3s ease-in-out all;
            transition: .3s ease-in-out all;
        }
    
        &.active{
            border-color: $primary-500;
    
            -webkit-box-shadow: 0px 0px 18px 0px rgba(0,158,227,.3);
            -moz-box-shadow: 0px 0px 18px 0px rgba(0,158,227,.3);
            box-shadow: 0px 0px 18px 0px rgba(0,158,227,.3);
    
            .element-item__options-menu{
                width: 100px;
            }
        }

        &.element-item--atention{
            display: block;

            .element-item__row{
                display:flex;
                justify-content: space-between;
                align-items: center;

                .element-item__col{
                    text-align: left;
                    font-size: .875rem;
                    
                    span{
                        display: block;
                        color: $primary-500;
                    }

                    &.element-item__col--waiter{
                        white-space: nowrap;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 100px;
                    }

                    &.element-item__col--order,
                    &.element-item__col--date{
                        font-size: .875rem;
                    }
                }
            }

            .element-item__options-menu{
                top: 2%;
            }

            &.active{
                .element-item__options-menu{
                    width: 110px;
                }
            }
        }

        &.element-item--add-dishes{
            padding: .5rem .5rem .5rem .875rem;
            background-image: none;

            .element-item__text{
                color: $dark;
                .prices{
                    display: flex;
                    gap: .5rem;
    
                    span{
                        &:nth-child(1){
                            font-weight: bold;
                            color: $primary-500;
                        }

                        &:nth-child(2){
                            color: #ADB0B6;
                            text-decoration: line-through;
                        }
                    }
                }
            }

            button{
                padding: .2rem .6rem;
                border-radius: 1rem;
            }
        }

        &.element-item--added-dishes{
            padding: .5rem .5rem .5rem .875rem;
            background-image: none;

            .element-item__text2,
            .element-item__price{
                text-align: left;

                span{
                    font-size: .875rem;
                }
            }
        }

        &.element-item--waiter{
            .element-item__text{
                color: $dark;
                span{
                    color: $primary-500;
                }
            }
        }
    }
}