@use '../abstracts' as *;

.progress-steps {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #dee2e6;
    
    .step {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background-color: rgba(13, 110, 253, 0.3); /* Celeste transparente para pasos inactivos */
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1.5rem;
        font-weight: 600;
        font-size: 1rem;
        position: relative;

        &:not(:last-child)::after{
            content: "";
            position: absolute;
            height: 2px;
            background-color: rgba(13, 110, 253, 0.3);
            width: 3rem;
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
        }

        &.active{
            background-color: #009EE3; /* Celeste sólido para paso activo */
            color: white;

            &::after{
                background-color: #009EE3;
            }
        }

        &.completed{
            background-color: #009EE3; /* Verde para pasos completados */
            color: white;

            &::after{
                background-color: #009EE3;
            }
        }
    }

}