@use '../abstracts' as *;

.user-logo{
    $circle: 150px;
    width: $circle;
    height: $circle;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 500px;
    position: absolute;
    top: 1rem;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.54);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.54);

    .user-logo__image{
        width: calc($circle - 15%);
        height: calc($circle - 15%);
        overflow: hidden;
        border-radius: 500px;

        img{width: 100%;}
    }
}