:root {
    /* --------BRAND--------- */

    /* Primary */
    --color-primary:         #009ee3;
    --color-primary-dark:    #0360b6;

    /* Secondary */
    --color-secondary:       #ffc107;
    --color-secondary-dark:  #c99807;

    /* Gray */
    --color-gray:            #ddd;
    --color-gray-dark:       #bbb;

    /* --------FEEDBACK--------- */

    /* Info */
    --color-info-lighter:    #dff6ff;
    --color-info-light:      #95cfe6;
    --color-info:            #009ee3;

    /* Warning */
    --color-warning-lighter: #fffbe9;
    --color-warning-light:   #eedd91;
    --color-warning:         #c9b148;

    /* Success */
    --color-success-lighter: #eaffe9;
    --color-success-light:   #96cf93;
    --color-success:         #529c4e;

    /* Danger */
    --color-danger-lighter:  #ffe9e9;
    --color-danger-light:    #f0baba;
    --color-danger:          #bb4848;
    --color-danger-dark:     #920a0a;

    /* --------NEUTRAL--------- */
    --color-text:            #1e1e1e;
    --color-text-muted:      #6d6d6d;
    --color-background:      #f5f7fa;
    --color-surface:         #ffffff;
    --color-border:          #e5e7eb;
}