:root {
    /* Brand */
    --color-primary: #009ee3;
    --color-primary-dark: #0360b6;
    --color-secondary: #ffc107;
    --color-secondary-dark: #c99807;
    --color-gray: #ddd;
    --color-gray-dark: #bbb;

    /* Feedback */
    --color-info: #009ee3;
    --color-warning: #ffc107;
    --color-success: #16a34a;
    --color-danger: #dc2626;
    --color-danger-dark: #920a0a;

    /* Neutral */
    --color-text: #1e1e1e;
    --color-text-muted: #6d6d6d;

    --color-background: #f5f7fa;
    --color-surface: #ffffff;

    --color-border: #e5e7eb;
}